<p id="notice"><%= notice %></p>

<h1><%= @wiki_post.title %></h1>
<p><%= image_tag @wiki_post.image %></p>
<p><%= @wiki_post.description %></p>

<%= render 'meta', wiki_post: @wiki_post %>

<%= link_to 'Edit', edit_wiki_post_path(@wiki_post) %> |
<%= link_to 'Back', wiki_posts_path %>
